@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background: #f5f8ff;
}

nav,
.banner,
main {
  max-width: 1400px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  font-weight: 700;
  line-height: 24px;
  background: #4e47ff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 12px 36px;
  width: auto;
}

header {
  background-image: url("../images/hero-bg.png");
  height: 700px;
}

/* Navbar Styles */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.navbar h2 {
  color: #4e47ff;
  font-family: "Inter", sans-serif;
  font-size: 34px;
  font-weight: 900;
  line-height: 51px;
}

/* Banner Styles */

.banner {
  padding: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner h2 {
  color: #252432;
  text-align: center;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 36px;
}

/* Action Section Styles */

.action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 115px 0;
}

.action-left-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

.action-left-content h2 {
  color: #252432;
  font-size: 42px;
  font-weight: 700;
}

.action-left-content p {
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  max-width: 500px;
}

.action-right-content img {
  border-radius: 48px;
}

/* Productive Section Styles */
.productive-container {
  border-radius: 24px;
  background: rgba(78, 71, 255, 0.1);
  margin-bottom: 130px;
  padding: 50px 80px;
}

.productive-container h2 {
  color: #252432;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 40px;
}

.productive-content {
  display: flex;
  justify-content: space-around;
}

.productive-content h1 {
  font-family: "Inter", sans-serif;
  color: #4e47ff;
  font-size: 80px;
  font-weight: 700;
}

.productive-content p {
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

/* Get in Touch Section Styles */
.get-in-touch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
}

.get-in-touch-container .left-content h2 {
  font-size: 97px;
  font-weight: 700;
  line-height: 116px;
}

.info-form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.info-content p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 10px;
}

.info-content input,
.info-content textarea {
  border-radius: 10px;
  border: 1px solid #d6dded;
  background: #fff;
  padding: 20px 32px;

  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  width: 500px;
}

.info-content textarea {
  height: 135px;
}

.info-form .btn {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Footer Styles */
footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 100px 0;
  text-align: center;
}

.footer-content h1 {
  font-family: "Inter", sans-serif;
  color: #4e47ff;
  font-size: 100px;
  font-weight: 900;
}

.footer-content p {
  font-family: "Inter", sans-serif;
  color: #8987a1;
  font-weight: 400;
  line-height: 24px;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.footer-links {
  display: flex;
  gap: 48px;
  justify-content: center;
}

.footer-links a {
  color: #8987a1;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
