@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background: #f5f8ff;
}

nav,
.banner,
main {
  max-width: 1400px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  font-weight: 700;
  line-height: 24px;
  background: #4e47ff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 12px 36px;
  width: auto;
}

header {
  background-image: url("../images/hero-bg.png");
  height: 700px;
}

/* Navbar Styles */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.navbar h2 {
  color: #4e47ff;
  font-family: "Inter", sans-serif;
  font-size: 34px;
  font-weight: 900;
  line-height: 51px;
}

/* Banner Styles */

.banner {
  padding: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner h2 {
  color: #252432;
  text-align: center;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 36px;
}

/* Action Section Styles */

.action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 115px 0;
}

.action-left-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}

.action-left-content h2 {
  color: #252432;
  font-size: 42px;
  font-weight: 700;
}

.action-left-content p {
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  max-width: 500px;
}

.action-right-content img {
  border-radius: 48px;
}
